# Required Telegram API credentials
API_ID=22403100
API_HASH=ccbc3f662735abfa604ef6309ba76e67

# Bot token from BotFather
BOT_TOKEN=8059125251:AAEGMaBB_9SXfSK3oSk5yOOfkrNJVnf8-2s

# MongoDB URI
MONGO_DB_URI=mongodb+srv://sumitsajwan135:gameno01@cluster0.ja0i0.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Duration limit in minutes
DURATION_LIMIT=60

# Telegram log group/chat ID
LOGGER_ID=-1002432275758

# Your Telegram user ID (owner)
OWNER_ID=7950514048

# Heroku (optional)
#HEROKU_APP_NAME=your_heroku_app_name
#HEROKU_API_KEY=your_heroku_api_key

# GitHub repo details
UPSTREAM_REPO=https://github.com/AnonymousX1025/AnonXMusic
UPSTREAM_BRANCH=master
GIT_TOKEN= # Only if the repo is private

# Support links
SUPPORT_CHANNEL=t.me//piras_official
SUPPORT_CHAT=https://t.me/AnimeFantasyG 

# Auto leave assistant toggle
AUTO_LEAVING_ASSISTANT=True

# Spotify API credentials (optional)
SPOTIFY_CLIENT_ID=d740c1d3f4b34a1c92268d26aa430fd6
SPOTIFY_CLIENT_SECRET=2a02d84490c94f3abc460443ce12a3fc

# Playlist fetch limit
PLAYLIST_FETCH_LIMIT=25

# File size limits (in bytes)
TG_AUDIO_FILESIZE_LIMIT=104857600
TG_VIDEO_FILESIZE_LIMIT=1073741824

# Pyrogram string sessions
STRING_SESSION=BQGmEyoAnkNG6DnXgUQUFs9pP-UXFP3Qf9XVOMF-s4tMI4QFQcgdI3GlsvMjDO7l3spupsbopJeEC1G-2AR6-3T0qFj2KXzGvaNGUUjZ29AdoeyvTiSf_wmY9nzihRyAqx2WL12oZXbH8hvEJkxxDOdFYiXZgzXLC9ZzkXpDcPvVxx1XYeV-qbDyHlb9V1ug8_VsE_Kgf-lkSC30rRO_6MRTHX4b4oPnstifdioffxvTuTn4BppHFnoWI6E_S4Ovp-JNnF3D7MQ1VqGPorUDFNDxVDrpri0-BmN-fCp_6vAFCBUP3KdJIGBADda1clonIdI5812PJbJeXYS9hBZc0MJr08F8qgAAAAF1DqmhAA
#STRING_SESSION2=
#STRING_SESSION3=
#STRING_SESSION4=
#STRING_SESSION5=